<ion-header>
  <ion-toolbar>
    <ion-title>Notícias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="ngOnInit()" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="!loading">
    <ion-item *ngFor="let article of articles" lines="full" detail="true" [href]="article.url" target="_blank">
      <ion-thumbnail slot="start" *ngIf="article.urlToImage">
        <img [src]="article.urlToImage" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ article.title }}</h2>
        <p>{{ article.source.name }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-spinner *ngIf="loading" name="crescent" class="ion-margin"></ion-spinner>
</ion-content>
