<ion-header>
  <ion-toolbar>
    <ion-title>Foco</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- notícia em destaque -->
  <div *ngIf="destaque" class="destaque-container" (click)="abrirLink(destaque.url)">
    <img *ngIf="destaque.urlToImage" [src]="destaque.urlToImage" class="destaque-img" />
    <div class="destaque-content">
      <h2>{{ destaque.title }}</h2>
      <p>{{ destaque.description }}</p>
    </div>
  </div>

  <!-- lista normal de notícias -->
  <ion-list>
    <ion-item *ngFor="let article of articles" lines="full" detail="true" [href]="article.url" target="_blank">
      <ion-thumbnail slot="start" *ngIf="article.urlToImage">
        <img [src]="article.urlToImage" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ article.title }}</h2>
        <p>{{ article.source.name }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- scroll infinito -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadArticles($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando mais...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

