:host {
  display: block;
  position: relative;
  height: 100%;
}

.tab3-background::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: 
    radial-gradient(circle at top left, rgba(20, 89, 218, 0.781) 0%, transparent 50%),
    radial-gradient(circle at bottom right, rgb(19, 92, 228) 0%, transparent 50%),
    #000000;
  filter: blur(80px);
}
